# Write each (a), (b)... of each exercise in a separate code cell, so that it is easier to check. Also specify by a comment, which point (a), (b) you are solving.

## Your name - Armen Mkrtumyan

### Exercise 0 (1 point). Import the pandas and numpy packages.

In [ ]:
import pandas as pd
import numpy as np

### Exercise 1 (12 points). Create pandas series with following steps.
### a. Create a numpy array containing integers from 11 to 16 both inclusive.
### b. Create a pandas series with the array created in (a).
### c. Change the indices of the series created in (b) to "a", "b", "c", "d", "e", "f".
### d. Subset the series to have new series with only values 12, 13, 14.

### a. Create a numpy array containing integers from 11 to 16 both inclusive.

In [ ]:
# Solution 
np_arr = np.arange(11,17)
print(np_arr)

### b. Create a pandas series with the array created in (a).

In [ ]:
series = pd.Series(np_arr)
print(series)

### c. Change the indices of the series created in (b) to "a", "b", "c", "d", "e", "f".

In [ ]:
series.index = ["a", "b", "c", "d", "e", "f"]
print(series)

### d. Subset the series to have new series with only values 12, 13, 14.

In [ ]:
sub_series = series[(series > 11) & (series < 15)]
print(sub_series)

### Exercise 2 (12 points). 
### a. Create a dataframe with the given dictionary and indices [3, 0, 2, 1].
### b. Sort the dataframe by the index. Do it inplace.
### c. Change the NaN value to be 18. 
### d. Change the age column, so that the values in the column are divided by 2. Make sure the results are integers.

In [ ]:
dictionary = {'name': ['Anna', 'Bob', 'Jane', "Josh"],
              'age' : [22, 30, 24, None],
              'occ' : ['engineer', 'doctor', 'accountant', 'programmer']}

### a. Create a dataframe with the given dictionary and indices [3, 0, 2, 1].

In [ ]:
# Solution 

df = pd.DataFrame(data = dictionary, index = [3, 0, 2, 1])
print(df)

### b. Sort the dataframe by the index. Do it inplace.

In [ ]:
df.sort_index(inplace=True)
print(df)

### c. Change the NaN value to be 18.

In [ ]:
df.fillna(18, inplace=True)
print(df)

### d. Change the age column, so that the values in the column are divided by 2. Make sure the results are integers.

In [ ]:
df['age'] = df['age'].apply(lambda x: int(x / 2)) #the results are integers because we converted them with int()
print(df)

### Exercise 3 (40 points). 
### a. Create a dataframe from the dictionary. 
### b. Set the "origin" column as index of the dataframe. 
### c. Create a new "data_subset" from the original dataframe, that is subset of the original dataframe including only columns *company* and *death*.
### d. Select the 'battles', 'size' and 'veterans' columns from Florida and Iowa (you can just subset the data, no need to create a new dataframe - no need to assign it to new variable)
### e. Select the rows 7 to 10 and columns 6 to 8. 
### f. Select all rows after sixth row and all columns.
### g. Subset dataframe to have all rows that have size < 1000.
### h. Select all the *regiments* not named "Scouts" and having *armored* to be 1.
### i. Select the rows called Alaska and Arizona.
### j. Plot a scatterplot graph, where x is the *deaths*, and y is *size* of the army. Have x-labels, y-labels, and title.

In [ ]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### a. Create a dataframe from the dictionary.

In [ ]:
# Solution 

df = pd.DataFrame(raw_data)
print(df)

### b. Set the "origin" column as index of the dataframe.

In [ ]:
df.set_index('origin', inplace=True)
print(df)

### c. Create a new "data_subset" from the original dataframe, that is subset of the original dataframe including only columns *company* and *death*.

In [ ]:
data_subset = df[['company', 'deaths']]
print(data_subset)

### d. Select the 'battles', 'size' and 'veterans' columns from Florida and Iowa (you can just subset the data, no need to create a new dataframe - no need to assign it to new variable)

In [ ]:
df.loc[['Florida', 'Iowa'], 'battles':'veterans']

### e. Select the rows 7 to 10 and columns 6 to 8.

In [ ]:
df.iloc[7:11, 6:9]   ##I understand they should be included right?, if not, 11 should be 10 and 9 should be 8

### f. Select all rows after sixth row and all columns.

In [ ]:
df.iloc[7:, :]

### g. Subset dataframe to have all rows that have size < 1000.

In [ ]:
df[df['size'] < 1000]

### h Select all the regiments not named "Scouts" and having armored to be 1.

In [ ]:
df[~(df['regiment'] == "Scouts") & (df['armored'] == 1)]

### i. Select the rows called Alaska and Arizona.

In [ ]:
df.loc[['Alaska', 'Arizona']]

### j. Plot a scatterplot graph, where x is the *deaths*, and y is *size* of the army. Have x-labels, y-labels, and title.

In [ ]:
import matplotlib.pyplot as plt
x = df['deaths']
y = df['size']
plt.xlabel("deaths")
plt.ylabel("size")
plt.title("size of the army given deaths")
plt.scatter(x, y)
plt.show()

### Exercise 4 (35 points).
### a. Read the *occupation.csv*, note that it is not comma-separated file, but is "|" separated. You need to specify this with an argument. 
### b. State how many observations and features the dataset has.  
### c. What is the mean age per occupation (hint: you need groupby). 
### d. Calculate how many Men and how many Women are there in the dataset. 
### e. Change the "M" value of *gender* column to 0, and "F" value of *gender* column to 1. Use *apply*. 
### f. For each occupation, what are the minimum and maximum ages. 
### g. Convert the occupation column to be uppercase. 
### h. For each occupation and gender, calculate the mean, min and max ages.

### a. Read the *occupation.csv*, note that it is not comma-separated file, but is "|" separated. You need to specify this with an argument.

In [ ]:
df = pd.read_csv('occupation.csv', sep = "|")

### b. State how many observations and features the dataset has.

In [ ]:
print(df.shape)
# 943 observations, 5 features

### c. What is the mean age per occupation (hint: you need groupby).

In [ ]:
df.groupby(by = "occupation")['age'].mean()

### d. Calculate how many Men and how many Women are there in the dataset.

In [ ]:
df['gender'].value_counts()

### e. Change the "M" value of *gender* column to 0, and "F" value of *gender* column to 1. Use *apply*.

In [ ]:
df['gender'] = df['gender'].apply(lambda letter: 0 if letter.lower() == 'm' else 1)
print(df['gender'])

### f. For each occupation, what are the minimum and maximum ages.

#### minimum age

In [ ]:
print(df.groupby('occupation')['age'].min())

#### maximum age

In [ ]:
print(df.groupby('occupation')['age'].max())

### g. Convert the occupation column to be uppercase.

In [ ]:
df['occupation'] = df['occupation'].apply(lambda x: x.upper())
print(df['occupation'])

### h. For each occupation and gender, calculate the mean, min and max ages.

In [ ]:
mins = df.groupby(['occupation', 'gender'])['age'].min().rename("Minimum ages")   #Minimums
maxs = df.groupby(['occupation', 'gender'])['age'].max().rename("Maximum ages")   #Maximums
means = df.groupby(['occupation', 'gender'])['age'].mean().rename("Mean ages")    #Means
pd.concat([mins, maxs, means], axis=1, names=['minimums', 'maximums', 'means']) #Concatinating them for a nicer output