## Your name - Armen Mkrtumyan

### Problem 1. Create a vector "list_1" containing integers 1-5, letters A, B and C and a boolean value TRUE with this order of elements. After this, subset the array in a way that the respective new lists are obtained. 
#### a. [1, 2, 3, 4, 5]
#### b. [True]
#### c. [1, 3, 5, B, True]
#### d. [C, 3]

In [1]:
# Solution

list_1 = [1, 2, 3, 4, 5, "A", "B", "C", True]

print (list_1[:5])

print (list_1[-1:])

print (list_1[::2])

print (list_1[7::-5])

[1, 2, 3, 4, 5]
[True]
[1, 3, 5, 'B', True]
['C', 3]

### Problem 2. Given the list below, do the following exercises:
#### a. check the length of the list
#### b. use list functions to change the list into [10, 20, 20, 30, 40, [50, 60]]
#### c. use list functions to change the list into [10, 20, 20, 30, 40, [50, 60], 70, 80]
#### d. remove the two 20s in the list.
#### e. reverse the list once inplace using list built-in functions and once with slicing operator.

In [2]:
list_2 = [10, 20, 20, 30, 40]

In [3]:
# Solution

#a
print(len(list_2))

#b
list_2.append([50,60])
print(list_2)

#c
list_2.extend((70,80))
print(list_2)

#d
while 20 in list_2:
    list_2.remove(20)
print(list_2)

#e
#ONE WAY
list_2.reverse()
print(list_2)
#ANOTHER WAY
list_2 = list_2[::-1]
print(list_2)

5
[10, 20, 20, 30, 40, [50, 60]]
[10, 20, 20, 30, 40, [50, 60], 70, 80]
[10, 30, 40, [50, 60], 70, 80]
[80, 70, [50, 60], 40, 30, 10]
[10, 30, 40, [50, 60], 70, 80]

### Problem 3. Given the list below (it is a nested list), change the element "80" into "100".

In [4]:
list_3 = [10, [20, 30], [40, 50, [60, [70, [80], 90], 100]]]

In [5]:
# Solution 
      
list_3[2][2][1][1][0] = 100
print(list_3)


list_3 = [10, [20, 30], [40, 50, [60, [70, [80], 90], 100]]]

# An alternative solution using recursion that would go 
# inside arrays untill it finds 80 (It does for all the occurences of 80)
def recursion(list_3):
    for i in range(len(list_3)):
        if list_3[i] == 80:
            list_3[i] = 100;
            #return list_3;      #By uncommenting this the program would find only 1 "80" inside the lists
        if(type(list_3[i]) is list):
            recursion(list_3[i])
    return (list_3)
print(recursion(list_3))

[10, [20, 30], [40, 50, [60, [70, [100], 90], 100]]]
[10, [20, 30], [40, 50, [60, [70, [100], 90], 100]]]

### Problem 4. You have a list containing integers from 1 to 5 stored in a variable *list_4*. And we have another variable *list_orig* which is equal to our list. We want to repeat the list and obtain the following list *[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]* in *list_4*. Modify the line of creation of *list_orig* variable, so that when we modify *list_4*, *list_orig* does not change and stores the original list.

In [6]:
list_4 = [1, 2, 3, 4, 5]
list_orig = list_4.copy() 
list_4.extend((1,2,3,4,5))
print(list_4)
print(list_orig)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### Problem 5. You have a list given below stored in the variable *list_5*. Write a code that will interchange the first and last elements of the list. Make sure that the resulted (interchanged) list is now stored in the variable *list_5*.

In [7]:
list_5 = [20, 30, 11, 45, 90, 80, 77]

In [8]:
# Solution
(list_5[0], list_5[-1]) = (list_5[-1], list_5[0])
print(list_5)

[77, 30, 11, 45, 90, 80, 20]

### Problem 6. Explore the *range()* function (use google) to get a list of even numbers from 50 to 100 both inclusively. Store the result in a variable, and make sure that the type of your object is *list*.

In [9]:
# Solution

result = list(range(50,101,2))
print(result)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

### Problem 7. Create a tuple with single item 50, then
#### a. Add elements 50, 10, 20, 50, 50 into the tuple, so that the length of the tuple will be 6.
#### b. Print the number of times 50 occurs in the tuple (you can use built-in functions).
#### c. Create a new tuple where all the elements that are not equal to 50 are deleted.
#### d. Using *set* data type, validate that the number of unique elements left in the new tuple is now 1.

In [10]:
# Solution
a = (50,)

#a
a = a + (50, 10, 20, 50, 50)

#b
print(a.count(50))

#c
b = []
for i in a:
    if i == 50:
        b.append(i)
b = tuple(b)
print(b)

#d
b = set(b)
print(len(b)) #Since the length of a set is one, then there was only 1 unique element in b

4
(50, 50, 50, 50)
1

### Problem 8. Swap two tuples, so that what is stored in the *tuple_even* will be in *tuple_odd*, and what is stored in *tuple_odd* will be *tuple_even*. Do this with one line of code.

In [11]:
tuple_even = (11, 55)
tuple_odd = (22, 44)

In [12]:
# Solution
(tuple_even, tuple_odd) = (tuple_odd, tuple_even)

### Problem 9. Consider having your name stored in the variables named *my_first_name* and *my_second_name*  (modify the line below, so you have this). Now, using formatting of strings, create a new variable *intro*, so that when you print the variable *intro*, it will print a string saying "Hello world, my name is YOUR NAME SURNAME" (ex. "Hello world, my name is Liana Harutyunyan").

In [13]:
my_first_name = "Armen"
my_second_name = "Mkrtumyan"

In [14]:
# Solution 

intro = "Hello world, my name is {} {}".format(my_first_name, my_second_name)
print(intro)

Hello world, my name is Armen Mkrtumyan

### Problem 10. You have a string *alphabet = "abcdefghijklmnop"*. 
#### a. Delete "nop" from the string. You can do this any way you want. Store it in the same variable.
#### b. Delete the character at 2nd index (removing the letter "c" from the string).

In [15]:
alphabet = "abcdefghijklmnop"

In [16]:
# Solution 

#a
alphabet = alphabet[:len(alphabet)-3]

#b
alphabet = alphabet[:2] + alphabet[3:]

print(alphabet)

abdefghijklm

### Problem 11. You have a string *sent_1 = "I want to do the homework"*.
#### a. Split sentence to get a list of all words ["I", "want", "to", "do", "the", "homework"]
#### b. Make the last string from the list to be uppercase, so your list should look like ["I", "want", "to", "do", "the", "HOMEWORK"].
#### c. Add "don't" string in the list at 1st index, your list at this point should be ["I", "don't", "want", "to", "do", "the", "HOMEWORK"]
#### d. Join the list back into one string. (Hint: Google for *join* function).

In [17]:
sent_1 = "I want to do the homework"

In [18]:
# Solution 

#a
list_1 = sent_1.split()

#b
list_1[-1] = list_1[-1].upper()

#c
list_1.insert(1, "don't")

#d
list_1 = ' '.join(list_1)

print(list_1)

I don't want to do the HOMEWORK

### Problem 12. Given two sets below, return a new set of elements that are present in Set A or Set B, but not in both of them. You should get a set of 4 integers. Then replace 20 from the set to 120.

In [19]:
set_A = {10, 20, 30, 40, 50}
set_B = {30, 40, 50, 60, 70}

In [20]:
# Solution 
set_C = set_A ^ set_B
print(set_C)
set_C.remove(20)
set_C.add(120)
print(set_C)

{20, 70, 10, 60}
{70, 10, 60, 120}

### Problem 13. Find how many duplicate characters are there in the string.
#### ex. "Anna" -> 1 (1 "n" is duplicate), "chixuaxua" -> 3 (1 "x", 1 "u", 1 "a" are duplicates).

In [21]:
str1 = "Anna"
str2 = "chixuaxua"

In [22]:
# Solution 

print(len(str1) - len(set(str1)))
print(len(str2) - len(set(str2)))

1
3

### Problem 14. You have philosophers dictionary below. Note, you can have nested dictionaries as well, and this is an example of that. Update the dictionary with the following steps.
#### a. Change the Pluto's children count from "unknown" to 0.
#### b. Change the birth fields, so that "384 BC" becomes -384 integer, and the same with Pluto's birth. Modify the existing value, not just write = -384.

In [23]:
philosophers = {
    "Aristotle": {"birth": "384 BC", 
                  "nationality": "greek", 
                  "children": 2}, 
    "Pluto": {"birth": "428 BC", 
              "nationality": "greek", 
              "children": "unknown"}
}

In [24]:
philosophers.values()

dict_values([{'birth': '384 BC', 'nationality': 'greek', 'children': 2}, {'birth': '428 BC', 'nationality': 'greek', 'children': 'unknown'}])

In [25]:
# Solution 

#a
philosophers['Pluto']['children'] = 0

#b
philosophers['Aristotle']['birth'] = -1*int(philosophers['Aristotle']['birth'][:3])
philosophers['Pluto']['birth'] = -1*int(philosophers['Pluto']['birth'][:3])
print(philosophers)

{'Aristotle': {'birth': -384, 'nationality': 'greek', 'children': 2}, 'Pluto': {'birth': -428, 'nationality': 'greek', 'children': 0}}

### Problem 15. Given the dictionary of temperatures over month April. 
#### a. Report what was the temperature on 15th of April.
#### b. Delete the key, value pair for 31st of April, because there has been a typo and April has only 30 days. 
#### c. Find the min and max temperatures happened in the month. (Hint. use values() and search for index() function and google for other functions if you need to).

In [26]:
temperature_dict = {1: 13, 
                    2: 11, 
                    3: 12, 
                    4: 8, 
                    5: 4,
                    6: 7,
                    7: 10,
                    8: 12,
                    9: 10,
                    10: 11,
                    11: 3,
                    12: 8,
                    13: 10,
                    14: 7,
                    15: 10,
                    16: 11, 
                    17: 12, 
                    18: 10,
                    19: 13,
                    20: 9,
                    21: 10,
                    22: 8,
                    23: 8,
                    24: 10,
                    25: 10,
                    26: 11,
                    27: 10,
                    28: 10,
                    29: 7,
                    30: 5, 
                    31: 4
                   }

In [27]:
# Solution 

#a
for i in temperature_dict.keys():
    if i == 15:
        print("The 15th is: ", temperature_dict[i])

#b
temperature_dict.pop(31)

The 15th is:  10

4

In [28]:
maximum = max(temperature_dict.values())
minimum = min(temperature_dict.values())

In [29]:
print(maximum, minimum)

13 3